import React from 'react';
import {{ className }}Style from './style.scss';

export default class {{ className }} extends React.Component {

  constructor(props) {
    super(props);
    this.state = {};
  }

  static displayName = '{{ className }}';

  static propTypes = {
  };

  static defaultProps = {
  };

  componentWillMount() {
  }

  componentWillReceiveProps(properties) {
  }

  componentDidUpdate() {
  }

  componentWillUnmount() {
  }

  render() {
    return (
      <{{ className }}></{{ className }}>
    );
  }
}
