import React from 'react';
import CSSModules from 'react-css-modules';
import {{ className }}Style from './style.scss';
const { Component, PropTypes } = React;

@CSSModules({{ className }}Style)
export default class {{ className }} extends Component {

  static displayName = '{{ className }}';

  static propTypes = {
  {% for propType in propTypes%}
    {{ propType.name }}: PropTypes.{{ propType.type }}{{ '.isRequired' if propType.require else '' }},
  {% endfor %}
  };

  static defaultProps = {
  };

  constructor(props) {
    super(props);
    this.state = {};
  }

  render() {
    return (
      <div styleName="{{ directoryName }}" />
    );
  }
}
