# {{ className }}

## Demo

[Demo](https://rike422.github.io/tanmono/?selectedKind={{ className }}) is hosted on GitHub Pages.

## Usage

```jsx
import React from 'react';
import { {{ className }} } from '{{ pkg.name }}';

class ExampleComponent extends React.Component {
  render: () {
    return ( <{{ className }}></{{ className }}> );
  }
}
```

### Proptypes

| Name | Type | isRequired |
|:----------|:--------:|:--------:|
{% for propType in propTypes -%}
| {{ propType.name }} | {{ propType.type }} | {{ 'true' if propType.require else 'false' }} |
{% endfor -%}

