import { configure, setAddon } from '@kadira/storybook';
import infoAddon from '@kadira/react-storybook-addon-info';

setAddon(infoAddon);

function loadStories() {
{% for filePath in storyFilePaths %}
  require('{{ filePath }}');
{% endfor %}
}

configure(loadStories, module);
