import React from 'react';
import assert from 'power-assert';
import {{ className }} from 'components/{{ baseName }}/{{ baseName }}';
import {{ className }}Style from 'components/{{ baseName }}/style';
import { shallow } from 'enzyme';

describe('<{{ className }}>', () => {
  it('class is assingd defalut', () => {
    const {{ instanceName }} = shallow(<{{ className }} />);
    assert({{ className }}Style !== undefined);
    assert({{ instanceName }} !== undefined);
  });
});
