import React from 'react';
import assert from 'power-assert';
import {{ className }} from 'components/{{ directoryName }}/{{ directoryName }}';
import buttonStyle from 'components/{{ directoryName }}/style';
import { shallow } from 'enzyme';

describe('<{{ className }}>', () = > {
  it('class is assingd defalut',() => {
    const button = shallow(<{{ className }}></{{ className }}>);
    assert(false);
  });
});
