import React from 'react';
import { storiesOf, action } from '@kadira/storybook';
import { {{ className }} } from '../../index';

storiesOf('{{ className }}', module)
  .add('render', () => <{{ className }}></{{ className }}>)


