//
// Variables
// ==============================

// Colours
// ------------------------------
$background-color-code: #f7f7f7 !default;
$color-base-border: #ddd !default;
$color-black: #000 !default;
$color-blue: #6BBED5 !default;
$color-blue-darken: darken($color-blue, 15%);
$color-blue-lighten: lighten($color-blue, 15%);
$color-gray: #333 !default;
$color-green: #81D674 !default;
$color-green-darken: darken($color-green, 15%);
$color-green-lighten: lighten($color-green, 15%);

$color-link: #1586BF !default;
$color-link-visited: #685987 !default;
$color-orange: #F9D004 !default;
$color-red: #D04255 !default;
$color-text: #4a4a4a !default;
$color-white: #fff !default;
$color-yellow: #F6D580 !default;

$app-danger: $color-red;
$app-info: $color-blue;
$app-success: $color-green;
$app-warning: $color-yellow;


// Fonts
// ------------------------------

$font-family-code: Consolas, 'Liberation Mono', Menlo, Courler, monospace !default;
$font-family-italic: 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', '游ゴシック', YuGothic, sans-serif !default;
$font-family-sans-serif: 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif !default;
$font-family-serif: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif !default;

